.axis { font: 14px sans-serif; }

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}

.marker-svg {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 100vh;
    pointer-events: none;
}

.marker-pointer {
    fill: none;
    stroke: black;
    stroke-linecap: butt;
    stroke-width: 2px;
}

.annotation-connector {
    stroke-width: 2;
}

#clear-markers {
    visibility: hidden;
}